#results{background:#424242;opacity:0.95;border-radius:7px;max-width:800px;min-width:600px;position:relative;top:35px;z-index:1500;right:0px;padding:0 15px;display:none}
#results table{width:73%}
#results th{font-weight:700;text-align:center}
#results tr{color:#ccc;border-top:1px solid #898989;border-bottom:1px solid #898989}
#results tr:first-child,#results tr:last-child{border:none}
#results tr:hover:first-child,#results tr:hover:last-child{background:none}
#results td.image{width:30px;height:30px;text-align:center;padding:5px;padding-top:5px}
#results td.price{color:#fff;width:100px;padding-bottom:5px;margin:0;text-align:center}
#results td.pages{padding-top:15px;padding-bottom:5px}
#results td a{display:block;text-decoration:none;color:#fff}
#results td a:hover,#results td{}
#results td a small{display:block;text-decoration:none;color:#fff;font-weight:400}
#results ul{padding:0;margin:3px}
#results ul li{background:none repeat scroll 0 0 #6E6E6E;color:#000;float:left;font:700 13px helvetica,arial,sans-serif;margin:0 2px;padding:0;text-align:center;text-decoration:none;text-shadow:none;list-style:none;cursor:pointer}
#results ul li.active{background:none repeat scroll 0 0 #999}
#results ul li:hover,.resall:hover{background:#999}
#results li:hover{color:#000;cursor:pointer}
#results td.title a{padding:43px 8px 5px 0;margin-left:7px}
#results{margin-left:10px}
#results td.pages span{color:#fff;float:left}
#wait{position:relative;width:10px;left:250px;display:none;z-index:11111}
#results td.cats a{padding:3px 8px 5px 0;margin-left:7px}
.pagination li a{color:#eee;font-size:1.333em;border:none;padding:12px 0;width:35px}