#solrresults{background:#424242;opacity:0.95;border-radius:7px;max-width:800px;min-width:600px;position:relative;top:35px;z-index:1500;right:0px;padding:0 15px;display:none}
#solrresults table{width:73%}
#solrresults th{font-weight:700;text-align:center}
#solrresults tr{color:#ccc;border-top:1px solid #898989;border-bottom:1px solid #898989}
#solrresults tr:first-child,#results tr:last-child{border:none}
#solrresults tr:hover:first-child,#results tr:hover:last-child{background:none}
#solrresults td.image{width:30px;height:30px;text-align:center;padding:5px;padding-top:5px}
#solrresults td.price{color:#fff;width:100px;padding-bottom:5px;margin:0;text-align:center}
#solrresults td.pages{padding-top:15px;padding-bottom:5px}
#solrresults td a{display:block;text-decoration:none;color:#fff}
#solrresults td a:hover,#results td{}
#solrresults td a small{display:block;text-decoration:none;color:#fff;font-weight:400}
#solrresults ul{padding:0;margin:3px}
#solrresults ul li{background:none repeat scroll 0 0 #6E6E6E;color:#000;float:left;font:700 13px helvetica,arial,sans-serif;margin:0 2px;padding:0;text-align:center;text-decoration:none;text-shadow:none;list-style:none;cursor:pointer}
#solrresults ul li.active{background:none repeat scroll 0 0 #999}
#solrresults ul li:hover,.resall:hover{background:#999}
#solrresults li:hover{color:#000;cursor:pointer}
#solrresults td.title a{padding:43px 8px 5px 0;margin-left:7px}
#solrresults{margin-left:10px}
#solrresults td.pages span{color:#fff;float:left}
#wait{position:relative;width:10px;left:250px;display:none;z-index:11111}
#solrresults td.cats a{padding:3px 8px 5px 0;margin-left:7px}
.pagination li a{color:#eee;font-size:1.333em;border:none;padding:12px 0;width:35px}
