@media screen and(min-width:768px){
#solrresults{width:728px;top:125px}
}
@media screen and(min-width:992px){
#solrresults{width:940px;top:130px}
}
@media screen and(min-width:1200px){
#solrresults{width:940px;top:135px}
}
@media screen and(max-width:768px){
#solrresults td.price{display:none}
}
@media screen and(max-width:480px){
#solrresults td.artnr{display:none}
}
@media screen and(max-width:768px){
#solrresults td.image{display:none}
}
@media screen and(max-width:768px){
#solrresults td.title a{margin-left:0;padding:15px 8px 5px 0}
}
#solrresults{background:#232323;position:absolute;z-index:9999;padding:0 25px;display:none}
#solrresults{width:100%;top:120px}
#solrresults table{width:100%}
#solrresults th{font-weight:700;text-align:center}
#solrresults tr{color:#ccc;border-top:1px solid #898989;border-bottom:1px solid #898989}
#solrresults tr:first-child,#solrresults tr:last-child{border:none}
#solrresults tr:hover:first-child,#solrresults tr:hover:last-child{background:none}
#solrresults td.image{width:60px;height:60px;text-align:center;padding:5px;padding-top:5px}
#solrresults td.pages{padding-top:15px;padding-bottom:5px}
#solrresults td a{display:block;text-decoration:none;color:#fff}
#solrresults td a:hover,#results td{}
#solrresults td a small{display:block;text-decoration:none;color:#fff;font-weight:400}
#solrresults ul{padding:0;margin:3px}
#solrresults ul li{background:none repeat scroll 0 0 #6E6E6E;color:#000;float:left;font:700 13px helvetica,arial,sans-serif;margin:0 2px;padding:0;text-align:center;text-decoration:none;text-shadow:none;list-style:none;cursor:pointer}
#solrresults ul li.active{background:none repeat scroll 0 0 #999}
#solrresults ul li:hover,.resall:hover{background:#999}
#solrresults li:hover{color:#000;cursor:pointer}
#solrresults td.title a{padding:23px 8px 5px 0;margin-left:7px}
#solrresults td.pages span{color:#fff;float:left}
#solrresults td.cats a{padding:10px 8px 5px 0;margin-left:7px}
#solrquicksearch{position:relative}
#wait{position:absolute;width:100px;right:15px;top:15px;display:none;z-index:11111}
#solrresults td.image img{max-width:60px;max-height:60px}
