/*-----------------basketcontents.less-------------------*/

.editCol{
  //min-width: 51px !important;
  //max-width: 51px !important;
}
.thumbCol{
  //min-width: 70px !important;
}
.title{
//  min-width:  250px !important;
//  max-width:  250px !important;
}
.weightCol{
  min-width: 80px;
}

.sumeditCol{
//  min-width: 24px !important;
//  max-width: 24px !important;
}
.sumthumbCol{
//  min-width: 32px !important;
}
.sumtitle{
//  min-width: 300px !important;
//  max-width: 300px !important;
}


