/*------------import.less----------------*/
#darkInizer {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.85);
  z-index:9999;
  color:white;
  width:100%;
  height:100%;
}
#alertLoggedOut {
  position:absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  z-index:10000;
}

// Tabelle:
.articleselect .btn-basket,
.tabellenspalte .btn-basket,
.tabellenspalte .btn-favorite,
.tabellenspalte .btn-info,
.tabellenspalte .btn-show-variants {
  font-size: 10px !important;
  padding: 1px 12px !important;
  margin-left: 5px !important;
}
.tabellenspalte .btn-basket span,
.tabellenspalte .btn-show-variants span {
  width: 85px !important;
  display: inline-block;
}
.tabellenspalte .btn-basket{
  position: relative !important;
  float: right !important;
  right: 1px !important;
  margin-top: 20px;
}
.tableselections td {
  padding-left: 0px !important;
  padding-right: 0px !important;
}





/**
 * spinner customization
 */
.spinner  .form-control,
.spinner button {
  font-size: 13px !important;
  height: 22px !important;
  padding: 1px 12px !important;
}
.spinner .input-group-btn-vertical > .btn {
  padding: 5px;
}
.spinner .input-group-btn-vertical i {
  left: 2px;
  top: -1px;
}







.input-line{
  border-collapse: separate;
  display:inline-flex;
  position: relative;
}
.selection-text{
  margin-left: 10px !important;
}
.bootstrap-touchspin-down{
  margin-left: 5px !important;
}

/**
 * listitem_line.tpl
 */
.hidden-xs{
  padding: 0 !important;
}

.pictureBox {
  width:50px;
  height:50px;
  transition: all 0.3s ease !important;
}

.pictureBox:hover {
  width:200px;
  height:200px;
  transition: all 0.3s ease !important;
  transition-delay: 0.3s !important;
}
.pictureBox img {
  width:100%;
  height:100%;
}

.img-thumbnail {
  display: inline-block;
  height: auto;
  line-height: 1.42857;
  max-width: 100%;
  padding: 0 !important;
}



#newItems {
  list-style: none;
}

.productData {
  float:left;
  width: 250px;
}





/* Suche und Navbar Wrapper */
.sn-div{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 80%;
}
.shrinked #header .sn-div{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 80%;

}

/* Suche Wrapper */
.searchdiv{
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 22%;
  margin-top: 0.5%;
}

/* Navi Wrapper */
.nav-div{
  float: left;
}

/* Service Wrapper */
.service-div{
  float: left;
}

/* Suche: */

#header form.search {
  z-index:1500;
}
.lupe{
  float: left;
  width: 13%;
}



.nav > li > a {
  font-size: 10pt;
  padding-left: 5px;
  padding-right: 5px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-nav > li > .dropdown-menu {
  padding-left: 8px;
}


.unshrinked #header .navbar-collapse {
  width: 100% !important;
  z-index: 99;
}


#footer .col-md-3 ul {
  padding-left: 0px;
}

#footer .col-md-3 ul li {
  list-style-type: none;
}
#footer .headline{
  font-weight: bold;
}
.navbar-nav > li > a {
  padding-bottom: 14px;
  padding-top: 14px;
}


/**
 * @todo remove - may be this ist from oxid original
 */
.clear {
  clear: both;
}

.refineParams > #sortItems,
.refineParams > #itemsPerPage,
.refineParams > #viewOptions {
  float: left;
}


.ui-helper-hidden-accessible,
#rssActiveCategory,
#catLongDesc,
#rssActiveCategory span,
#panel .bar {
  display: none;
}

/**
 *  search
 */

/*
.unshrinked #header .searchBox button {
  height: 50px;
  width:  50px;
  float: left;
  margin-left: 10px;
}
#header #results {
  display: none;
  position: absolute;
  margin-left: 0!important;
  top: 31px;
  max-width: 400px;
  min-width: 1px;
  border: 1px solid       #e7e7e7;
  background-color:       #fff;
  z-index:1500;
  width: 400px;
}
#header #results .title {
  text-align: left;
}

.unshrinked #header #results {
}
.shrinked #header #results {
  top: 29px;
  right: 40px;
}
#header form.search {
  position: relative;
  z-index:1500;
}
#header #results .first {
  display: none;
}
#header #results .image,
#header #results .title {
  padding-left: 5px;
}


.shrinked #header .searchBox input[type=text] {
  float: left;
  z-index:99;
}
.shrinked #header .resultspresent input[type=text] {
  display: block !important;
}
.unshrinked #header .searchBox button {
  height: 30px;
  width:  30px;
  float: left;
}
.shrinked #header .searchBox button {
  height: 30px;
  width:  30px;
  float: left;
  margin-left: 10px;
}
.shrinked #header .searchBox button i {
  font-size: 1em !important;
}
*/

/**
 * minibasket
 */
#miniBasket a {
  position: relative;
}
#miniBasket a:hover {
  text-decoration: none !important;
}
#content {
  margin-top: 25px;
}

/**
 * Deaktivieren der Zahlungsart und Versandartänderung im Checkout
 */
#orderShipping,
#orderPayment {
  display: none;
}
.nav-tabs{
  font-size:14px !important;
}


/**
 * Spinner styles
 */
.spinner {
  width: 60px; /*100px;*/
  position: relative;
}
.spinner input {
  text-align: right;
  width: 48px !important;
}
.input-group-btn-vertical {
  position: absolute;
  white-space: nowrap;
  width: 1%;
  /*vertical-align: middle;*/
  display: table-cell;
  top: 0px;
  right: 12px;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}

.accountDashboardView dl {
  float: left;
  width: 300px;

}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color:      #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color:      #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.pull-right {
  float: right !important;
}

/* Warenkorb */

.btn-warenkorb{
  height: 19px;
  font-size: 10px;
  width: 111px;
  padding: 1px 12px !important;
}
.warenkorb{
  position: relative !important;
}

/* Warenkorb ende */

/* aus Oxid.css validate error */
.oxValidateError {
  display: none;
  clear: both;
  font-size: 11px;
  line-height: 14px;
  color:                  #ff0000;
  margin: 0;
  padding: 5px 0 5px 175px;
}

.oxValidateError span {
  display: none;
}

.oxValidateError span.req {
  float: none;
  display: inline;
}
.oxInValid label,
.oxInValid p {
  color:                  #ff0000;
}

.oxInValid input,
.oxInValid select,
.oxInValid input:focus {
  border-color:           #e40000;
  background:             #fff8f8;
}

.oxInValid select {
  border-style: solid;
  border-width: 1px;
}

.oxInValid .oxValidateError,
.oxInValid .oxValidateError .js-oxError_postError {
  display:block;
}
/*ende oxid.css */




/* start quickorder styles */
#QuickPositions .headline .td {
  font-weight: bold;
}
#QuickPositions .tr {
  clear: both;
}
#QuickPositions .td {
  padding-right: 10px;
  padding-bottom: 2px;
}
#QuickPositions .artnum {
  width: 110px;
}
#QuickPositions .artnum input {
  width: 110px;
}
#QuickPositions .title,
#QuickPositions .title input {
  width: 500px;
}
#QuickPositions .price {
  width: 100px;
  text-align: right;
}
#QuickPositions .amount {
  width: 75px;
}
#QuickPositions .amount input {
  width: 50px;
}
#QuickPositions .stock {
  width: 75px;
}
#QuickPositions .stock .stock0,
#QuickPositions .stock .stock1,
#QuickPositions .stock .stock2 {
  margin-top: 3px;
  width: 15px;
  height: 15px;
}
#QuickPositions .stock .stock0 {
  background-color:           #00FF00;
}
#QuickPositions .stock .stock1 {
  background-color:           #FFFF00;
}
#QuickPositions .stock .stock2 {
  background-color:           #FF0000;
}
#QuickPositions #newEntryAutoComplete .tr {
  height: 20px;
  width: 100%;
}
#QuickPositions #newEntryAutoComplete .even {
  background-color:           #ccc;
}
#QuickPositions #newEntryAutoComplete .odd {
  background-color:           #eee;
}
#QuickPositions #newEntryAutoComplete .tr {
  cursor: pointer;
}
#QuickPositions #newEntryAutoComplete .tr:hover{
  background-color:           #0066cc;
}
#OXARTNUM {
  width: 600px;

}
.addressBookItem {
  background-color:           #fff;
  border-color:               #ddd;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  box-shadow: none;
  margin-left: 0;
  margin-right: 0;
  border-style: solid;
  padding: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}

.addressBookItem:hover {
  background-color: #ddd;
}

.form-group .big {
  width: 70% !important;
  float: left;
}
.form-group .small {
  width: 30% !important;
  float: left;
}
#orderPreview .headline td {
  font-weight: bold;
}
#orderPreview .amount {
  width: 75px;
}
#orderPreview .title {
  width: 350px;
}
#orderPreview .price {
  text-align: right;
  width: 100px;
}
/* ende quickorder styles */

/* Details Modal */

.pictureBoxDetails img{
  width:100px;
  height:100px;
  margin-left: auto;
  margin-right: auto;
}
/* Startseite */

.startbtns{
  /*margin-left: auto;
  margin-right: auto;
  width:40%;*/
  display: flex;
  justify-content: center;
}
.mini-basket-center{
  margin-top: 0px;
  right: 1px;
  bottom: 1px;
  z-index: 100;
}
.btn-logout{
  width: 150px;
  margin-top: 10px;
  margin-left: 15px;
}
.basketBox{
  margin-top: 0;
}
.symbol-logout{
  padding-top: 2px;
}
#languageSwitcher{
  float:left;
}
.dropdown-menu{
  min-width: 10px;
}

.popover {
  font-size: 12px;
}
.popover-content table{
  width: 250px;
}
.popover-content td{
  min-width: 10px;
  border-bottom: solid 1px;
  padding-bottom: 2px;
}
.popover-content .amount td{
  width: 10px;
}
.popover-content .title{
  width: 150px;
}
.minbsum{
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
/* ende Startseite */

/* Passwort Formular einblenden */

.hide{
  display: none;
}
.show{
  display: block;
}

#basketTotalProductsNettoWeight{
  text-align: right;
  width: 175px;
}

#basketTotalProductsNettoPrice{
  text-align: right;
  width: 100px;
}

/* Rechnungsadresse Form & Lieferadresse Form */

.req{
  font-weight: bold !important;
}
.norm{
  font-weight: normal !important;
}
#incVatMessage {
  position: fixed;
  bottom: -3px;
  right: -5px;
  font-size: 11px;
  padding: 4px 20px 6px 17px;
  opacity: 0.6;
  z-index: 9999;
}
.back-to-top {
  display: none;
}
.back-to-top i {
  font-size: 50px;
}
.artnr{
  margin-left: 5px;
}

/* basketcontents */

.weight, .unitPrice, .totalPrice{
  text-align: right !important;
  min-width: 80px !important;
}
.adress-margin-left{
  margin-left: 10px !important;
}
.strasse{
  width: 80% !important;
}
.hausnr{

}
.shipadress-input{
  margin:20px 0 0 !important;
}
