/*------------variables.less----------------*/
// Farben
@color-Red:                    #ff0000;
@color-Blue:                   blue;
@color-Crimson:                crimson;
@color-header-background:      #F0F0F0;
@color-header-border:          (@color-header-background * #111);   //#AEAEAE;

// Ampel
@ampel-color-red            :   #FF0000;
@ampel-color-yellow         :   #FFFF00;
@ampel-color-green          :   #00FF00;

// Border
@border:  1px solid;

// Navbar
@navi-navbar-background-color:       #75b3c1;
@navi-navbar-border-color:           #76a8c1;
@navi-navbar-text-color:             #ffffff;

@navi-navbar-text-transform:         uppercase;

@navi-navbar-service-leiste:         visible;



// Navileisten shrinking
@unshrinked:    115px;
@shrinked:      40px;




//logo

// Buttons

// Button Primary
@btn-primary-color                  :       #75B3C1;
@btn-text-color                     :       #ffffff;



//Button Primary hover
@btn-primary-color-hover            :       #E6E6E6;
@btn-primary-color-border-hover     :       #ADADAD;
@btn-primary-color-text-hover       :       #000011;


//Button Optionen:
@btn-optionen-color                 :       #ffffff;


//Button Success:
@btn-success-color-background      :        #94E294;
@btn-success-color-border          :        #94E294;




// basketcontents







// Helfer Sichtbar auf Container.

@helper-color-background:             #dff0d8;
@helper-color-border:                 #d6e9c6;
@helper-color-text:                   #468847;
